.add-task-button {
  padding: 21px;
  border: 2px solid #ff8303;
  background-color:transparent;
  border-radius: 8px;
  cursor: pointer;
  max-height: 70px;
}

/* button:hover {
  background-color: #ff8303;
} */
