.task-input {
  min-width: 100%;
  min-height: 30px;
  border: 1px solid #ff8303;
  border-radius: 4px;
  background-color: #242320;
  color: #F0E3CA;
  outline: unset;
  resize: vertical;
  overflow: auto;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 9px;
}


@media (min-width: 600px) {
  .task-input {
    min-width: 546px;
   
  }
}

@media (max-width: 599px) {
  .task-input {
    min-width: 247px;
  }
}
@media (max-width: 400px) {
  .task-input {
    min-width: 100%;
  }
}
.task-input::placeholder {
  padding-left: 10px; 
  
}


textarea::placeholder{
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);

}